body {
    font-family: Arial, Helvetica, sans-serif;
}

.subscribe-button {
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
}

.is-subscribed {
    background-color: rgb(240, 240, 240);
    color: black;
}

.cost-input {
    font-size: 15px;
    padding: 10px;
}

.calculate-button {
    font-size: 15px;
    padding: 12px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.amazon-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(255, 216, 20);
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 30px;
    border-radius: 30px;
}

.uber01 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    margin: 0 30px 50px 0;
    padding: 20px 30px;
    border-radius: 8px;
}

.uber02 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(230, 230, 230);
    color: black;
    border: none;
    margin: 0 30px 50px 0;
    padding: 20px 20px;
    border-radius: 8px;
}

.gaming-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    margin: 0 30px 50px 0;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.is-toggled {
    background-color: rgb(230, 230, 230);
    color: black;
}

.error-message {
    color: red;
}