body {
    font-family: Arial, Helvetica, sans-serif;
}

.subscribe-button {
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
}

.is-subscribed {
    background-color: rgb(240, 240, 240);
    color: black;
}

.cost-input {
    font-size: 15px;
    padding: 10px;
}

.calculate-button {
    font-size: 15px;
    padding: 12px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.amazonb {
    border: none;
    font-size: 16px;
    padding: 8px 34px;
    background-color: rgb(255, 216, 20);
    border-radius: 20px;
}

.uber01,
.uber02 {
    margin-top: 30px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 18px 25px;
    border-radius: 10px;
}

.uber01 {
    background-color: black;
    color: white;
    margin-right: 20px;
}

.uber02 {
    background-color: rgb(230, 230, 230);
    color: black;
}

.gaming,
.music-js,
.tech-js {
    margin-top: 30px;
    border: none;
    margin-right: 20px;
    font-size: 16px;
    padding: 14px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.is-toggled {
    background-color: black;
    color: white;
}

.js-error {
    color: red;
}